/* Start Login */
body {
    background-image: url(/img/dnc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%; 
    background-position: top left; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}

label {
    color: #fff;
}

form {
    width: 400px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 40%;
    margin-top: -4%;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

.checkbox-list {
    margin: 5px 0;
}

.checkbox-list label {
    display: block;
}

button {
    width: 100%;
    background-color: #00008B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00008B;
}
/* End Login */

/* Responsividade body */

@media (max-width:1366px) {
    .body {
            display: none;
    }
}

@media (max-width:1024px) {
    .body {
            display: none;
    }
}

@media (max-width:768px) {
    .body {
            display: none;
    }
}

@media (max-width:480px) {
    .body {
            display: block;
    }
}
/*** Responsividade body End***/
