
body {
    background-image: url(/img/dnc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%; 
    background-position: top left; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    margin-left: 40%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-form input {
    flex-basis: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-form button {
    flex-basis: 100%;
    width: 105%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}
